<div id="sidebar" class="sidebar responsive">
	<script type="text/javascript">
		try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
	</script>
	
	<ul class="nav nav-list">
		<!--<li {{if eq $.curRoute "main.index"}}class="active"{{end}}>
			<a href="/">
				<i class="menu-icon fa fa-tachometer"></i>
				<span class="menu-text"> 系统概况 </span>
			</a>

			<b class="arrow"></b>
		</li>-->
		
		{{range $k, $menu := .menuList}}	
		<li class="open">
			<a href="/# ">
				<i class="menu-icon fa {{$menu.Icon}}"></i>
				<span class="menu-text"> {{$menu.Name}} </span>
				<b class="arrow fa fa-angle-down"></b>
			</a>
			<b class="arrow"></b>
			<ul class="submenu">
				{{range $kk, $submenu := $menu.Submenu}}
				<li {{if eq $.curRoute $submenu.Route}}class="active"{{end}}>
					<a href="{{urlfor $submenu.Action}}">
						<i class="menu-icon fa fa-caret-right"></i>
						{{$submenu.Name}}
					</a>
					<b class="arrow"></b>
				</li>
				{{end}}
			</ul>
		</li>
		{{end}}
		
	</ul><!-- /.nav-list -->


	<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
		<i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
	</div>

	<script type="text/javascript">
		try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
	</script>
</div>