
<div class="row">
	<div class="col-xs-12">
	<form class="form-horizontal" method="post" action="{{urlfor "LogController.Del"}}">
		<table class="table table-striped table-bordered table-hover">
			<thead>
			<tr>
				<th class="center"><input type="checkbox" name="chkall" value="1" /></th>
				<th>ID</th>
				<th>请求</th>
				<th>消息</th>
				<th>时间</th>
			</tr>
			</thead>
			<tbody>
			{{range $k, $v := .list}}
				<tr>
					<td class="center"><input type="checkbox" name="ids" value="{{$v.Id}}" /></td>
					<td class="center">{{$v.Id}}</td>
					<td>{{$v.Url}}</td>
					<td>{{$v.Message}}</td>
					<td>{{date $v.CreateTime "Y-m-d H:i:s"}}</td>
				</tr>
			{{end}}
			</tbody>
			<tfoot>
				<tr>
				<td colspan="10">
					<button type="submit" class="btn btn-xs btn-white btn-default btn-round">
					<i class="ace-icon fa fa-trash-o bigger-120"></i>
					删除所选
					</button>
				</td>
				</tr>
			</tfoot>
		</table>
		</form>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">{{str2html .pageBar}}</div>
</div>

<script>
$(function() {
	$('input[name="chkall"]').click(function() {
		if (this.checked) {
			$('input[name="ids"]').prop("checked", true);
		} else {
			$('input[name="ids"]').prop("checked", false);
		}
	});
});
</script>