
		<div class="row">
			<div class="col-xs-12">
			<a href="{{urlfor "MailTplController.Add"}}" class="btn btn-sm btn-default"><i class="fa fa-plus"></i> 添加模板</a>
			</div>
		</div>

		<div class="space-4"></div>

		<div class="row">
			<div class="col-xs-12">
				<table class="table table-striped table-bordered table-hover">
					<thead>
					<tr>
						<th width="100">ID</th>
						<th>模板名称</th>
						<th width="150">创建时间</th>
						<th width="150">操作</th>
					</tr>
					</thead>
					<tbody>
					{{range $k, $v := .list}}
						<tr>
							<td class="center">{{$v.Id}}</td>
							<td>{{$v.Name}}</td>
							<td>{{date $v.CreateTime "Y-m-d H:i:s"}}</td>
							<td>
							<a href="{{urlfor "MailTplController.Edit" "id" $v.Id}}">修改</a> | 
							<a href="{{urlfor "MailTplController.Del" "id" $v.Id}}" class="delete_confirm">删除</a>
							</td>
						</tr>
					{{end}}
					</tbody>
				</table>
			</div>
		</div>
