
<div class="row">
	<div class="col-xs-12">
	<a href="{{urlfor "ServerController.Add"}}" class="btn btn-sm btn-default"><i class="fa fa-plus"></i> 添加服务器</a>
	</div>
</div>

<div class="space-4"></div>

<div class="row">
	<div class="col-xs-12">
		<table class="table table-striped table-bordered table-hover">
			<thead>
			<tr>
				<th class="col-xs-1">ID</th>
				<th class="col-xs-2">服务器IP</th>
				<th>所属机房</th>
				<th class="col-xs-2">操作</th>
			</tr>
			</thead>
			<tbody>
			{{range $k, $v := .list}}
				<tr>
					<td class="center">{{$v.Id}}</td>
					<td>{{$v.Ip}}</td>
					<td>{{$v.Area}}</td>
					<td>
					<a href="{{urlfor "ServerController.Projects" "id" $v.Id}}">项目列表</a> | 
					<a href="{{urlfor "ServerController.Edit" "id" $v.Id}}">编辑</a> | 
					<a href="{{urlfor "ServerController.Del" "id" $v.Id}}" class="delete_confirm">删除</a>
					</td>
				</tr>
			{{end}}
			</tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">{{str2html .pageBar}}</div>
</div>
